<p>books works!</p>
<div class="row">
    <app-book-short-description class="col-2" [book]="book"></app-book-short-description>
    <app-book-short-description class="col-2"></app-book-short-description>
    <app-book-short-description class="col-2"></app-book-short-description>
    <app-book-short-description class="col-2"></app-book-short-description>
    <app-book-short-description class="col-2"></app-book-short-description>
    <app-book-short-description class="col-2"></app-book-short-description>
    <app-book-short-description class="col-2"></app-book-short-description>
</div>